app/dist/footer.html

<footer class="footer">
  <div class="row">
    <div class="medium-5 column text-right"><a href="" class="button">Оставить заявку</a></div>
    <div class="medium-6 end column">
      <p>ООО “РПС-Групп” +7 (843) 214-14-40; e-mail: rps-group@yandex.ru Адрес: г. Казань, Адмиралтейская д.3, корпус 4.</p>
    </div>
  </div>
</footer>

app/views/footer.jade
footer.footer
  .row
    .medium-5.column.text-right
      a.button(href="") Оставить заявку
    .medium-6.end.column
      p ООО “РПС-Групп” +7 (843) 214-14-40; e-mail: rps-group@yandex.ru Адрес: г. Казань, Адмиралтейская д.3, корпус 4.
