app/dist/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gulp Project Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="vendors/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="styles/app.css">
    <base href="/">
  </head>
  <body>
    <div class="nav">
      <div class="nav-header">
        <div class="row"><a href="/" class="nav-logo small-6 medium-3 large-2 column"><img src="/images/logo.png" alt=""></a>
          <div class="nav-about medium-9 large-4 large-offset-1 column">Реконструкция. Проектирование. Строительство.</div>
          <div class="nav-contacts contacts large-5 column">
            <div class="contacts-item"><span><img src="/images/icons/mail.png" alt=""><a href="mailto:rps-group@yandex.ru">rps-group@yandex.ru</a></span><span><img src="/images/icons/phone.png" alt="">+7 (843) 214-14-40</span></div>
            <div class="contacts-item"><a class="button radius">Заказать звонок</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="nav-menu"><span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-icon-wrap"><span data-toggle="" class="menu-icon dark"></span></span>
          <ul id="responsive-menu" class="nav-menu-list">
            <li class="nav-menu-item"><a href="/" class="nav-menu-link">Главная</a></li>
            <li class="nav-menu-item dropdown active"><a href="about.html" class="nav-menu-link">О компании
                <div class="dropdown-icon"></div></a>
              <ul class="nav-menu-dropdown">
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Строительство</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Обследование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Реконструкция</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перевод земельных<br>участков 1</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование<br>и стротельство 1<br>коттеджей</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перепланировки<br>и входные группы</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Согласование<br>и разрешительная<br>документация</a></li>
              </ul>
            </li>
            <li class="nav-menu-item dropdown"><a class="nav-menu-link service">Услуги
                <div class="dropdown-icon"></div></a>
              <ul class="nav-menu-dropdown">
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Строительство</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Обследование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Реконструкция</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перевод земельных<br>участков</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование<br>и стротельство<br>коттеджей</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перепланировки<br>и входные группы</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Согласование<br>и разрешительная<br>документация</a></li>
              </ul>
            </li>
            <li class="nav-menu-item"><a class="nav-menu-link">Цены</a></li>
            <li class="nav-menu-item"><a href="/work.html" class="nav-menu-link">Наши работы</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link">Новости</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link">Наши клиенты</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="carousel">
          <div class="carousel-item"><img src="/images/slider.jpg" alt=""></div>
          <div class="carousel-item"><img src="/images/slider.jpg" alt=""></div>
          <div class="carousel-item"><img src="/images/slider.jpg" alt=""></div>
        </div>
        <div class="menu services">
          <ul class="menu-list">
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/1.png">
                <div class="menu-item-name">Проектирование</div></a></li>
            <li class="menu-item menu-item--active"><a class="menu-link"><img src="/images/menu/2.png">
                <div class="menu-item-name">Строительство</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/3.png">
                <div class="menu-item-name">Обследование</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/4.png">
                <div class="menu-item-name">Реконструкция</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/5.png">
                <div class="menu-item-name">Перевод земельных участков</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/6.png">
                <div class="menu-item-name">Проектирование и стротельство коттеджей</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/7.png">
                <div class="menu-item-name">Перепланировки и входные группы</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/8.png">
                <div class="menu-item-name">Согласование и разрешительная документация</div></a></li>
          </ul>
        </div>
        <div class="why content">
          <div class="content-title">Почему мы?</div>
          <div class="why-list">
            <div class="why-item medium-3 column"><img src="/images/why/1.png" alt="">10 лет успешной работы</div>
            <div class="why-item medium-3 column"><img src="/images/why/2.png" alt="">50 выполненных объектов</div>
            <div class="why-item medium-3 column"><img src="/images/why/3.png" alt="">8 лет стаж наших экспертов</div>
            <div class="why-item medium-3 column"><img src="/images/why/4.png" alt="">100 специалистов высокого класса</div>
          </div>
        </div>
        <div class="work content">
          <div class="content-title">Наши работы</div>
          <div class="work-list row"><a href="/object.html" class="work-item medium-6 large-3 column end"><img src="/images/work.png" alt="">
              <div class="work-item-name">Согласование и разрешительная документация</div></a><a href="/object.html" class="work-item medium-6 large-3 column end"><img src="/images/work.png" alt="">
              <div class="work-item-name">Строительство</div></a><a href="/object.html" class="work-item medium-6 large-3 column end"><img src="/images/work.png" alt="">
              <div class="work-item-name">Проектирование и строительство коттеджей</div></a><a href="/object.html" class="work-item medium-6 large-3 column end"><img src="/images/work.png" alt="">
              <div class="work-item-name">Проектирование производственных зданий</div></a></div>
          <div class="work-list work-list--last row"><a href="/object.html" class="work-item medium-6 large-3 column end"><img src="/images/work.png" alt="">
              <div class="work-item-name">Обследование зданий</div></a><a href="/object.html" class="work-item medium-6 large-3 column end"><img src="/images/work.png" alt="">
              <div class="work-item-name">Перепланировки и входные группы</div></a><a href="/object.html" class="work-item medium-6 large-3 column end"><img src="/images/work.png" alt="">
              <div class="work-item-name">Согласование и разрешительная документация</div></a><a href="/object.html" class="work-item medium-6 large-3 column end">
              <div class="work-item-image"><img src="/images/icons/pdf.png" alt=""></div>
              <div class="work-item-name">Скачать презентацию</div></a></div>
          <div class="row">
            <div class="column text-right"><a href="" class="work-all">Посмотреть все работы →</a></div>
          </div>
        </div>
        <div class="row">
          <div class="feedback large-6 column">
            <div class="content">
              <div class="content-title">Отзывы</div>
              <div class="feedback-content">
                <div class="feedback-title">ГАУЗ “Республиканский клинический<br>противотурберкулезный диспансер”</div>
                <div class="feedback-text">За время сотрудничества ООО «РПС-Групп» подтвердило свой высокий профессиональный статус, компетентность и активность в решении поставленных задач....</div>
                <div class="feedback-who">Л.Р. Ахмадуллин</div><a href="" class="feedback-more">Подробнее о наших преимуществах →</a>
              </div>
            </div>
          </div>
          <div class="map large-6 column">
            <div class="content">
              <div class="content-title"><img src="/images/icons/place.png" alt="">Месторасположение</div>
              <div class="map-content">
                <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=A4KsJgMm0KG-MID2E56pJelrGAE_GN1J&amp;width=100%&amp;height=175&amp;lang=ru_RU&amp;sourceType=constructor"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row">
        <div class="medium-5 column text-right"><a href="" class="button">Оставить заявку</a></div>
        <div class="medium-6 end column">
          <p>ООО “РПС-Групп” +7 (843) 214-14-40; e-mail: rps-group@yandex.ru Адрес: г. Казань, Адмиралтейская д.3, корпус 4.</p>
        </div>
      </div>
    </footer>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/slick-carousel/slick/slick.min.js"></script>
    <script src="vendors/foundation-sites/dist/foundation.min.js"></script>
    <script src="vendors/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>

app/views/index.jade
extends base

block content
  .row
    .column
      .carousel
        - each val in [1,2,3]
          .carousel-item
            img(src="/images/slider.jpg", alt="")
      .menu.services
        ul.menu-list
          li.menu-item
            a.menu-link
              img(src="/images/menu/1.png")
              .menu-item-name Проектирование
          li.menu-item.menu-item--active
            a.menu-link
              img(src="/images/menu/2.png")
              .menu-item-name Строительство
          li.menu-item
            a.menu-link
              img(src="/images/menu/3.png")
              .menu-item-name Обследование
          li.menu-item
            a.menu-link
              img(src="/images/menu/4.png")
              .menu-item-name Реконструкция
          li.menu-item
            a.menu-link
              img(src="/images/menu/5.png")
              .menu-item-name Перевод земельных участков
          li.menu-item
            a.menu-link
              img(src="/images/menu/6.png")
              .menu-item-name Проектирование и стротельство коттеджей
          li.menu-item
            a.menu-link
              img(src="/images/menu/7.png")
              .menu-item-name Перепланировки и входные группы
          li.menu-item
            a.menu-link
              img(src="/images/menu/8.png")
              .menu-item-name Согласование и разрешительная документация
      .why.content
        .content-title Почему мы?
        .why-list
          .why-item.medium-3.column
            img(src="/images/why/1.png", alt="")
            | 10 лет успешной работы
          .why-item.medium-3.column
            img(src="/images/why/2.png", alt="")
            | 50 выполненных объектов
          .why-item.medium-3.column
            img(src="/images/why/3.png", alt="")
            | 8 лет стаж наших экспертов
          .why-item.medium-3.column
            img(src="/images/why/4.png", alt="")
            | 100 специалистов высокого класса
      .work.content
        .content-title Наши работы
        .work-list.row
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Согласование и разрешительная документация
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Строительство
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Проектирование и строительство коттеджей
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Проектирование производственных зданий
        .work-list.work-list--last.row
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Обследование зданий
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Перепланировки и входные группы
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            img(src="/images/work.png", alt="")
            .work-item-name Согласование и разрешительная документация
          a.work-item.medium-6.large-3.column.end(href="/object.html")
            .work-item-image
              img(src="/images/icons/pdf.png", alt="")
            .work-item-name Скачать презентацию
        .row
          .column.text-right
            a.work-all(href="") Посмотреть все работы →
      .row
        .feedback.large-6.column
          .content
            .content-title Отзывы
            .feedback-content
              .feedback-title
                | ГАУЗ “Республиканский клинический
                br
                | противотурберкулезный диспансер”
              .feedback-text За время сотрудничества ООО «РПС-Групп» подтвердило свой высокий профессиональный статус, компетентность и активность в решении поставленных задач....
              .feedback-who Л.Р. Ахмадуллин
              a.feedback-more(href="") Подробнее о наших преимуществах →
        .map.large-6.column
          .content
            .content-title
              img(src="/images/icons/place.png", alt="")
              | Месторасположение
            .map-content
              script(type='text/javascript', charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=A4KsJgMm0KG-MID2E56pJelrGAE_GN1J&width=100%&height=175&lang=ru_RU&sourceType=constructor')
