app/dist/nav.html

<div class="nav">
  <div class="nav-header">
    <div class="row"><a href="/" class="nav-logo small-6 medium-3 large-2 column"><img src="/images/logo.png" alt=""/></a>
      <div class="nav-about medium-9 large-4 large-offset-1 column">Реконструкция. Проектирование. Строительство.</div>
      <div class="nav-contacts contacts large-5 column">
        <div class="contacts-item"><span><img src="/images/icons/mail.png" alt=""/><a href="mailto:rps-group@yandex.ru">rps-group@yandex.ru</a></span><span><img src="/images/icons/phone.png" alt=""/>+7 (843) 214-14-40</span></div>
        <div class="contacts-item"><a class="button radius">Заказать звонок</a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="nav-menu"><span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-icon-wrap"><span data-toggle="" class="menu-icon dark"></span></span>
      <ul id="responsive-menu" class="nav-menu-list">
        <li class="nav-menu-item"><a href="/" class="nav-menu-link">Главная</a></li>
        <li class="nav-menu-item dropdown active"><a href="about.html" class="nav-menu-link">О компании
            <div class="dropdown-icon"></div></a>
          <ul class="nav-menu-dropdown">
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Строительство</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Обследование</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Реконструкция</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перевод земельных<br/>участков 1</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование<br/>и стротельство 1<br/>коттеджей</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перепланировки<br/>и входные группы</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Согласование<br/>и разрешительная<br/>документация</a></li>
          </ul>
        </li>
        <li class="nav-menu-item dropdown"><a class="nav-menu-link service">Услуги
            <div class="dropdown-icon"></div></a>
          <ul class="nav-menu-dropdown">
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Строительство</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Обследование</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Реконструкция</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перевод земельных<br/>участков</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование<br/>и стротельство<br/>коттеджей</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перепланировки<br/>и входные группы</a></li>
            <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Согласование<br/>и разрешительная<br/>документация</a></li>
          </ul>
        </li>
        <li class="nav-menu-item"><a class="nav-menu-link">Цены</a></li>
        <li class="nav-menu-item"><a href="/work.html" class="nav-menu-link">Наши работы</a></li>
        <li class="nav-menu-item"><a class="nav-menu-link">Новости</a></li>
        <li class="nav-menu-item"><a class="nav-menu-link">Наши клиенты</a></li>
        <li class="nav-menu-item"><a class="nav-menu-link">Контакты</a></li>
      </ul>
    </div>
  </div>
</div>

app/views/nav.jade
.nav
  .nav-header
    .row
      a.nav-logo.small-6.medium-3.large-2.column(href="/")
        img(src="/images/logo.png", alt="")
      .nav-about.medium-9.large-4.large-offset-1.column
        | Реконструкция. Проектирование. Строительство.
      .nav-contacts.contacts.large-5.column
        .contacts-item
          span
            img(src="/images/icons/mail.png", alt="")
            a(href="mailto:rps-group@yandex.ru") rps-group@yandex.ru
          span
            img(src="/images/icons/phone.png", alt="")
            | +7 (843) 214-14-40
        .contacts-item
          a.button.radius Заказать звонок
  .row
    .nav-menu
      span.menu-icon-wrap(data-responsive-toggle='responsive-menu', data-hide-for='medium')
        span.menu-icon.dark(data-toggle='')
      ul.nav-menu-list#responsive-menu
        li.nav-menu-item
          a.nav-menu-link(href="/") Главная
        li.nav-menu-item.dropdown.active
          a.nav-menu-link(href="about.html")
            | О компании
            .dropdown-icon
          ul.nav-menu-dropdown
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Проектирование
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Строительство
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Обследование
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Реконструкция
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Перевод земельных
                br
                | участков 1
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Проектирование
                br
                | и стротельство 1
                br
                | коттеджей
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Перепланировки
                br
                | и входные группы
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Согласование
                br
                | и разрешительная
                br
                | документация
        li.nav-menu-item.dropdown
          a.nav-menu-link.service
            | Услуги
            .dropdown-icon
          ul.nav-menu-dropdown
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Проектирование
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Строительство
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Обследование
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link Реконструкция
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Перевод земельных
                br
                | участков
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Проектирование
                br
                | и стротельство
                br
                | коттеджей
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Перепланировки
                br
                | и входные группы
            li.nav-menu-dropdown-item
              a.nav-menu-dropdown-link
                | Согласование
                br
                | и разрешительная
                br
                | документация
        li.nav-menu-item
          a.nav-menu-link Цены
        li.nav-menu-item
          a.nav-menu-link(href="/work.html") Наши работы
        li.nav-menu-item
          a.nav-menu-link Новости
        li.nav-menu-item
          a.nav-menu-link Наши клиенты
        li.nav-menu-item
          a.nav-menu-link Контакты
