app/dist/object.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gulp Project Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="vendors/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="styles/app.css">
    <base href="/">
  </head>
  <body>
    <div class="nav">
      <div class="nav-header">
        <div class="row"><a href="/" class="nav-logo small-6 medium-3 large-2 column"><img src="/images/logo.png" alt=""></a>
          <div class="nav-about medium-9 large-4 large-offset-1 column">Реконструкция. Проектирование. Строительство.</div>
          <div class="nav-contacts contacts large-5 column">
            <div class="contacts-item"><span><img src="/images/icons/mail.png" alt=""><a href="mailto:rps-group@yandex.ru">rps-group@yandex.ru</a></span><span><img src="/images/icons/phone.png" alt="">+7 (843) 214-14-40</span></div>
            <div class="contacts-item"><a class="button radius">Заказать звонок</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="nav-menu"><span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-icon-wrap"><span data-toggle="" class="menu-icon dark"></span></span>
          <ul id="responsive-menu" class="nav-menu-list">
            <li class="nav-menu-item"><a href="/" class="nav-menu-link">Главная</a></li>
            <li class="nav-menu-item dropdown active"><a href="about.html" class="nav-menu-link">О компании
                <div class="dropdown-icon"></div></a>
              <ul class="nav-menu-dropdown">
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Строительство</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Обследование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Реконструкция</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перевод земельных<br>участков 1</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование<br>и стротельство 1<br>коттеджей</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перепланировки<br>и входные группы</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Согласование<br>и разрешительная<br>документация</a></li>
              </ul>
            </li>
            <li class="nav-menu-item dropdown"><a class="nav-menu-link service">Услуги
                <div class="dropdown-icon"></div></a>
              <ul class="nav-menu-dropdown">
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Строительство</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Обследование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Реконструкция</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перевод земельных<br>участков</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование<br>и стротельство<br>коттеджей</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перепланировки<br>и входные группы</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Согласование<br>и разрешительная<br>документация</a></li>
              </ul>
            </li>
            <li class="nav-menu-item"><a class="nav-menu-link">Цены</a></li>
            <li class="nav-menu-item"><a href="/work.html" class="nav-menu-link">Наши работы</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link">Новости</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link">Наши клиенты</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="carousel">
          <div class="carousel-item"><img src="/images/slider.jpg" alt=""></div>
          <div class="carousel-item"><img src="/images/slider.jpg" alt=""></div>
          <div class="carousel-item"><img src="/images/slider.jpg" alt=""></div>
        </div>
        <div class="menu services">
          <ul class="menu-list">
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/1.png">
                <div class="menu-item-name">Проектирование</div></a></li>
            <li class="menu-item menu-item--active"><a class="menu-link"><img src="/images/menu/2.png">
                <div class="menu-item-name">Строительство</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/3.png">
                <div class="menu-item-name">Обследование</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/4.png">
                <div class="menu-item-name">Реконструкция</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/5.png">
                <div class="menu-item-name">Перевод земельных участков</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/6.png">
                <div class="menu-item-name">Проектирование и стротельство коттеджей</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/7.png">
                <div class="menu-item-name">Перепланировки и входные группы</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/8.png">
                <div class="menu-item-name">Согласование и разрешительная документация</div></a></li>
          </ul>
        </div>
        <div class="breadcrumbs">
          <li><a>Главная</a></li>
          <li><a>Наши работы</a></li>
          <li>Проект внутрицеховой этажерки</li>
        </div>
        <div class="content">
          <div class="content-title">Проект внутрицеховой этажерки</div>
          <h4>Идейные соображения высшего порядка</h4>
          <p>А также реализация намеченных плановых заданий играет важную роль в формировании систем массового участия. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.</p>
          <h6>Заголовок 2</h6>
          <p>С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации.</p>
          <p>С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации.</p>
          <p class="info"><span>Стоимость работ: 5 000 000 рублей</span><br><span>Сроки: 4 месяца</span></p>
          <h6>Фото объекта</h6>
          <div class="row gallery"><a rel="gallery" href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="fancybox gallery-item small-6 medium-4 column end"><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a><a rel="gallery" href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="fancybox gallery-item small-6 medium-4 column end"><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a><a rel="gallery" href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="fancybox gallery-item small-6 medium-4 column end"><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a><a rel="gallery" href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="fancybox gallery-item small-6 medium-4 column end"><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a><a rel="gallery" href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="fancybox gallery-item small-6 medium-4 column end"><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a><a rel="gallery" href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="fancybox gallery-item small-6 medium-4 column end"><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a><a rel="gallery" href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="fancybox gallery-item small-6 medium-4 column end"><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a><a rel="gallery" href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="fancybox gallery-item small-6 medium-4 column end"><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a><a rel="gallery" href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="fancybox gallery-item small-6 medium-4 column end"><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a></div>
          <div class="why content">
            <div class="content-title">Почему мы?</div>
            <div class="why-list">
              <div class="why-item medium-3 column"><img src="/images/why/1.png" alt="">10 лет успешной работы</div>
              <div class="why-item medium-3 column"><img src="/images/why/2.png" alt="">50 выполненных объектов</div>
              <div class="why-item medium-3 column"><img src="/images/why/3.png" alt="">8 лет стаж наших экспертов</div>
              <div class="why-item medium-3 column"><img src="/images/why/4.png" alt="">100 специалистов высокого класса</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row">
        <div class="medium-5 column text-right"><a href="" class="button">Оставить заявку</a></div>
        <div class="medium-6 end column">
          <p>ООО “РПС-Групп” +7 (843) 214-14-40; e-mail: rps-group@yandex.ru Адрес: г. Казань, Адмиралтейская д.3, корпус 4.</p>
        </div>
      </div>
    </footer>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/slick-carousel/slick/slick.min.js"></script>
    <script src="vendors/foundation-sites/dist/foundation.min.js"></script>
    <script src="vendors/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>

app/views/object.jade
extends base

block content
  .row
    .column
      .carousel
        - each val in [1,2,3]
          .carousel-item
            img(src="/images/slider.jpg", alt="")
      .menu.services
        ul.menu-list
          li.menu-item
            a.menu-link
              img(src="/images/menu/1.png")
              .menu-item-name Проектирование
          li.menu-item.menu-item--active
            a.menu-link
              img(src="/images/menu/2.png")
              .menu-item-name Строительство
          li.menu-item
            a.menu-link
              img(src="/images/menu/3.png")
              .menu-item-name Обследование
          li.menu-item
            a.menu-link
              img(src="/images/menu/4.png")
              .menu-item-name Реконструкция
          li.menu-item
            a.menu-link
              img(src="/images/menu/5.png")
              .menu-item-name Перевод земельных участков
          li.menu-item
            a.menu-link
              img(src="/images/menu/6.png")
              .menu-item-name Проектирование и стротельство коттеджей
          li.menu-item
            a.menu-link
              img(src="/images/menu/7.png")
              .menu-item-name Перепланировки и входные группы
          li.menu-item
            a.menu-link
              img(src="/images/menu/8.png")
              .menu-item-name Согласование и разрешительная документация
      .breadcrumbs
        li
          a Главная
        li
          a Наши работы
        li Проект внутрицеховой этажерки
      .content
        .content-title Проект внутрицеховой этажерки
        h4 Идейные соображения высшего порядка
        p А также реализация намеченных плановых заданий играет важную роль в формировании систем массового участия. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует подготовки и реализации существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
        h6 Заголовок 2
        p С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации.
        p С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации.
        p.info
          span Стоимость работ: 5 000 000 рублей
          br
          span Сроки: 4 месяца
        h6 Фото объекта
        .row.gallery
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
          a.fancybox.gallery-item.small-6.medium-4.column.end(rel="gallery", href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
            img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
        .why.content
          .content-title Почему мы?
          .why-list
            .why-item.medium-3.column
              img(src="/images/why/1.png", alt="")
              | 10 лет успешной работы
            .why-item.medium-3.column
              img(src="/images/why/2.png", alt="")
              | 50 выполненных объектов
            .why-item.medium-3.column
              img(src="/images/why/3.png", alt="")
              | 8 лет стаж наших экспертов
            .why-item.medium-3.column
              img(src="/images/why/4.png", alt="")
              | 100 специалистов высокого класса
