app/dist/service.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gulp Project Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="vendors/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="styles/app.css">
    <base href="/">
  </head>
  <body>
    <div class="nav">
      <div class="nav-header">
        <div class="row"><a href="/" class="nav-logo small-6 medium-3 large-2 column"><img src="/images/logo.png" alt=""></a>
          <div class="nav-about medium-9 large-4 large-offset-1 column">Реконструкция. Проектирование. Строительство.</div>
          <div class="nav-contacts contacts large-5 column">
            <div class="contacts-item"><span><img src="/images/icons/mail.png" alt=""><a href="mailto:rps-group@yandex.ru">rps-group@yandex.ru</a></span><span><img src="/images/icons/phone.png" alt="">+7 (843) 214-14-40</span></div>
            <div class="contacts-item"><a class="button radius">Заказать звонок</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="nav-menu"><span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-icon-wrap"><span data-toggle="" class="menu-icon dark"></span></span>
          <ul id="responsive-menu" class="nav-menu-list">
            <li class="nav-menu-item"><a href="/" class="nav-menu-link">Главная</a></li>
            <li class="nav-menu-item dropdown active"><a href="about.html" class="nav-menu-link">О компании
                <div class="dropdown-icon"></div></a>
              <ul class="nav-menu-dropdown">
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Строительство</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Обследование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Реконструкция</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перевод земельных<br>участков 1</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование<br>и стротельство 1<br>коттеджей</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перепланировки<br>и входные группы</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Согласование<br>и разрешительная<br>документация</a></li>
              </ul>
            </li>
            <li class="nav-menu-item dropdown"><a class="nav-menu-link service">Услуги
                <div class="dropdown-icon"></div></a>
              <ul class="nav-menu-dropdown">
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Строительство</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Обследование</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Реконструкция</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перевод земельных<br>участков</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Проектирование<br>и стротельство<br>коттеджей</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Перепланировки<br>и входные группы</a></li>
                <li class="nav-menu-dropdown-item"><a class="nav-menu-dropdown-link">Согласование<br>и разрешительная<br>документация</a></li>
              </ul>
            </li>
            <li class="nav-menu-item"><a class="nav-menu-link">Цены</a></li>
            <li class="nav-menu-item"><a href="/work.html" class="nav-menu-link">Наши работы</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link">Новости</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link">Наши клиенты</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="carousel">
          <div class="carousel-item"><img src="/images/slider.jpg" alt=""></div>
          <div class="carousel-item"><img src="/images/slider.jpg" alt=""></div>
          <div class="carousel-item"><img src="/images/slider.jpg" alt=""></div>
        </div>
        <div class="menu services">
          <ul class="menu-list">
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/1.png">
                <div class="menu-item-name">Проектирование</div></a></li>
            <li class="menu-item menu-item--active"><a class="menu-link"><img src="/images/menu/2.png">
                <div class="menu-item-name">Строительство</div></a></li>
            <li class="menu-item"><a class="menu-link"><img src="/images/menu/3.png">
                <div class="menu-item-name">Обследование</div></a></li>
          </ul>
        </div>
        <div class="breadcrumbs">
          <li><a>Главная</a></li>
          <li><a>Услуги</a></li>
          <li>Реконструкция</li>
        </div>
        <div class="content">
          <div class="content-title">Реконструкция</div>
          <div class="content-body row">
            <div class="medium-8 column">
              <h5>Компания «РПС-групп» предоставляет услуги по реконструкции зданий и сооружений в полном объеме</h5>
              <p>Объем и полнота работ по реконструкции напрямую связана с заданием по обследованию здания и проектированию. Обращаясь в нашу организацию мы точно определим задачи предстоящего проектирования и сами составим техническое задание на основании ваших пожеланий.</p>
              <p>В реконструкцию входят различные виды работ проектно-сметного плана. Их выполнение необходимо, чтобы четко прописать изменения технико-экономического и объемно-планировочного характера.</p>
              <p><strong>Сотрудники нашей компании выполняют разработку проектов по реконструкции производственных зданий и других видов построек:</strong></p>
              <ul>
                <li>при необходимости надстроить дополнительные этажи, мансарду;</li>
                <li>в случаях, когда пристраиваются новые части к зданию;</li>
                <li>в ситуации, когда нагрузки на строение возрастают;</li>
                <li>при необходимости изменить функциональное назначение здания.</li>
              </ul>
              <p class="service-description">Все проектные работы, связанные с реконструкцией зданий, проводятся на основании имеющегося у нашей компании допуска СРО. И полностью отвечают условиям, прописанным в действующих нормативах.</p>
              <p><strong>Будьте уверены: Ваши мечты реальны. Просто расскажите нам о них и назначьте дату воплощения.</strong></p>
            </div>
            <div class="medium-4 column"><a href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" class="update fancybox">
                <div class="update-title">Коттедж до</div><img src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg" alt=""></a><a href="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg" class="update fancybox">
                <div class="update-title">Коттедж после</div><img src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg" alt=""></a></div>
          </div>
        </div>
        <div class="why content">
          <div class="content-title">Почему мы?</div>
          <div class="why-list">
            <div class="why-item medium-3 column"><img src="/images/why/1.png" alt="">10 лет успешной работы</div>
            <div class="why-item medium-3 column"><img src="/images/why/2.png" alt="">50 выполненных объектов</div>
            <div class="why-item medium-3 column"><img src="/images/why/3.png" alt="">8 лет стаж наших экспертов</div>
            <div class="why-item medium-3 column"><img src="/images/why/4.png" alt="">100 специалистов высокого класса</div>
          </div>
        </div>
        <div class="work content">
          <div class="content-title">Наши объекты</div>
          <div class="work-list row">
            <div class="work-item work-item--project medium-4 column end"><img src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg" alt="">
              <div class="work-item-name">Согласование и разрешительная документация<a href="">Подробнее</a></div>
            </div>
            <div class="work-item work-item--project medium-4 column end"><img src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg" alt="">
              <div class="work-item-name">Строительство<a href="">Подробнее</a></div>
            </div>
            <div class="work-item work-item--project medium-4 column end"><img src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg" alt="">
              <div class="work-item-name">Проектирование и строительство коттеджей<a href="">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row">
        <div class="medium-5 column text-right"><a href="" class="button">Оставить заявку</a></div>
        <div class="medium-6 end column">
          <p>ООО “РПС-Групп” +7 (843) 214-14-40; e-mail: rps-group@yandex.ru Адрес: г. Казань, Адмиралтейская д.3, корпус 4.</p>
        </div>
      </div>
    </footer>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/slick-carousel/slick/slick.min.js"></script>
    <script src="vendors/foundation-sites/dist/foundation.min.js"></script>
    <script src="vendors/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>

app/views/service.jade
extends base

block content
  .row
    .column
      .carousel
        - each val in [1,2,3]
          .carousel-item
            img(src="/images/slider.jpg", alt="")
      .menu.services
        ul.menu-list
          li.menu-item
            a.menu-link
              img(src="/images/menu/1.png")
              .menu-item-name Проектирование
          li.menu-item.menu-item--active
            a.menu-link
              img(src="/images/menu/2.png")
              .menu-item-name Строительство
          li.menu-item
            a.menu-link
              img(src="/images/menu/3.png")
              .menu-item-name Обследование
      .breadcrumbs
        li
          a Главная
        li
          a Услуги
        li Реконструкция
      .content
        .content-title Реконструкция
        .content-body.row
          .medium-8.column
            h5 Компания «РПС-групп» предоставляет услуги по реконструкции зданий и сооружений в полном объеме
            p Объем и полнота работ по реконструкции напрямую связана с заданием по обследованию здания и проектированию. Обращаясь в нашу организацию мы точно определим задачи предстоящего проектирования и сами составим техническое задание на основании ваших пожеланий.
            p В реконструкцию входят различные виды работ проектно-сметного плана. Их выполнение необходимо, чтобы четко прописать изменения технико-экономического и объемно-планировочного характера.
            p
              strong Сотрудники нашей компании выполняют разработку проектов по реконструкции производственных зданий и других видов построек:
            ul
              li при необходимости надстроить дополнительные этажи, мансарду;
              li в случаях, когда пристраиваются новые части к зданию;
              li в ситуации, когда нагрузки на строение возрастают;
              li при необходимости изменить функциональное назначение здания.
            p.service-description Все проектные работы, связанные с реконструкцией зданий, проводятся на основании имеющегося у нашей компании допуска СРО. И полностью отвечают условиям, прописанным в действующих нормативах.
            p
              strong Будьте уверены: Ваши мечты реальны. Просто расскажите нам о них и назначьте дату воплощения.
          .medium-4.column
            a.update.fancybox(href="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg")
              .update-title Коттедж до
              img(src="http://xn----ftb8acabdfv.xn--p1ai/upload/shop_5/2/9/5/item_295/shop_items_catalog_image295.jpg", alt="")
            a.update.fancybox(href="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg")
              .update-title Коттедж после
              img(src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg", alt="")
      .why.content
        .content-title Почему мы?
        .why-list
          .why-item.medium-3.column
            img(src="/images/why/1.png", alt="")
            | 10 лет успешной работы
          .why-item.medium-3.column
            img(src="/images/why/2.png", alt="")
            | 50 выполненных объектов
          .why-item.medium-3.column
            img(src="/images/why/3.png", alt="")
            | 8 лет стаж наших экспертов
          .why-item.medium-3.column
            img(src="/images/why/4.png", alt="")
            | 100 специалистов высокого класса

      .work.content
        .content-title Наши объекты
        .work-list.row
          .work-item.work-item--project.medium-4.column.end
            img(src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg", alt="")
            .work-item-name
              | Согласование и разрешительная документация
              a(href="") Подробнее
          .work-item.work-item--project.medium-4.column.end
            img(src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg", alt="")
            .work-item-name
              | Строительство
              a(href="") Подробнее
          .work-item.work-item--project.medium-4.column.end
            img(src="http://uraltg.com/userfiles/images/sanatorii/97f899fcc800e45ff3d1592ab6475eab.jpg", alt="")
            .work-item-name
              | Проектирование и строительство коттеджей
              a(href="") Подробнее
